@model ControleCliente_ASP_MVC.Models.Contato

@{
    ViewData["Title"] = "Criar Contato";
}

<div class="container">
    <h1 class="display-4">Cadastrar Contato</h1>
    <form asp-action="Criar">
      <div class=" ">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome"  class="form-control" placeholder="Digite o nome do contato" />
      </div>
      <div class="">
        <label for="email" class="form-label">Email</label>
        <input type="email" asp-for="Email"  class="form-control" placeholder="Digite o email do contato" />
      </div>
      <div class="">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="text" asp-for="Telefone"  class="form-control" placeholder="Digite o telefone do contato" />
      </div>

      <div class="d-grid gap-2 mt-3">
        <button type="submit" class="btn btn-primary">Gravar</button>
        <a class="btn btn-secondary " asp-area="" asp-controller="Contato" asp-action="Index">Voltar</a>
   
      </div>

     
    </form>

</div>